<a href="https://colab.research.google.com/github/badjiyoon/da_study/blob/main/CH03_01_%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%A0%84%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

- Dict를 통한 데이터 프레임 생성

In [ ]:
df = pd.DataFrame({'a':[1,2,3],'b':[4,5,6],'c':[7,8,9]})

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [ ]:
dummy = {'a':[1,2,3],'b':[4,5,6],'c':[7,8,9]}

In [ ]:
df2 = pd.DataFrame(dummy)

- List를 이용한 데이터 프레임 생성

In [ ]:
a = [[1,4,7],[2,5,6],[3,6,9]]

In [ ]:
df3 = pd.DataFrame(a)

In [ ]:
df3

   0  1  2
0  1  4  7
1  2  5  6
2  3  6  9

In [ ]:
df3.columns = ['a','b','c']

In [ ]:
df3

   a  b  c
0  1  4  7
1  2  5  6
2  3  6  9

- 문제: 아래 테이플과 같은 데이터 프레임을 만드시오

In [ ]:
#dict구조로 만들었음
df4 = pd.DataFrame({'company':['abc','회사',123], '직원수':[400,10,6]})

In [ ]:
df4

  company  직원수
0     abc  400
1      회사   10
2     123    6

- 문제: 아래 테이블과 같은 데이터 프레임을 만드시오.

In [ ]:
# NaN은 pandas 파이썬에서 지원 X
a = {'company':['abc','회사','123'],'직원수':[400,10,6],'위치':['Seoul', NaN, 'Busan']}

NameError: ignored

In [ ]:
df5 = pd.DataFrame(a)

In [ ]:
df5

  company  직원수     위치
0     abc  400  Seoul
1      회사   10    NaN
2     123    6  Busan

In [ ]:
a = {'company':['abc','회사','123'],'직원수':[400,10,6],'위치':['Seoul', , 'Busan']}

SyntaxError: ignored

In [ ]:
# NaN은 pandas 파이썬에서 지원 X
# numpy 통해서 NaN 값 출력 가능
import numpy as np

In [ ]:
a = {'company':['abc','회사','123'],'직원수':[400,10,6],'위치':['Seoul',np.NaN , 'Busan']}

In [ ]:
df5

  company  직원수     위치
0     abc  400  Seoul
1      회사   10    NaN
2     123    6  Busan