- 데이터 프레임 결합

1) 상하 결합

In [2]:
import pandas as pd

df1 = pd.DataFrame({'A':[1,2,3], 'B':[11,12,13], 'C':[21,22,23]})
df2 = pd.DataFrame({'A': [4,5,6], 'B':[14,15,16], 'C':[24,25,26]})

In [4]:
# 2개 데이터 프레임 결합
# 상하관계 결합 .concat([위, 아래])
pd.concat([df1, df2])

   A   B   C
0  1  11  21
1  2  12  22
2  3  13  23
0  4  14  24
1  5  15  25
2  6  16  26

In [5]:
# 인덱스는 그대로임
pd.concat([df2, df1])

   A   B   C
0  4  14  24
1  5  15  25
2  6  16  26
0  1  11  21
1  2  12  22
2  3  13  23

In [6]:
# ignore_index = True 인덱스 초기화
pd.concat([df1, df2], ignore_index = True)

   A   B   C
0  1  11  21
1  2  12  22
2  3  13  23
3  4  14  24
4  5  15  25
5  6  16  26

In [7]:
df1 = pd.DataFrame({'A':[1,2,3], 'B':[11,12,13], 'C':[21,22,23]})
df2 = pd.DataFrame({'B':[14,15,16], 'A': [4,5,6], 'C':[24,25,26]})

In [8]:
df1

   A   B   C
0  1  11  21
1  2  12  22
2  3  13  23

In [9]:
df2

    B  A   C
0  14  4  24
1  15  5  25
2  16  6  26

In [10]:
# 컬럼명 확인하여 결합함
pd.concat([df1, df2])

   A   B   C
0  1  11  21
1  2  12  22
2  3  13  23
0  4  14  24
1  5  15  25
2  6  16  26

- 서로 다른 필드로 구성되어 있는 데이터 프레임 결합

In [11]:
df1 = pd.DataFrame({'A': [1,2,3], 'B':[11,12,13], 'C': [21,22,23], 'D':[31,32,33]})
df2 = pd.DataFrame({'A' : [3,4,5], 'B':[13,14,15], 'C':[23,24,25], 'E':[41,42,43]})

In [12]:
df1

   A   B   C   D
0  1  11  21  31
1  2  12  22  32
2  3  13  23  33

In [13]:
df2

   A   B   C   E
0  3  13  23  41
1  4  14  24  42
2  5  15  25  43

In [15]:

pd.concat([df1, df2])

   A   B   C     D     E
0  1  11  21  31.0   NaN
1  2  12  22  32.0   NaN
2  3  13  23  33.0   NaN
0  3  13  23   NaN  41.0
1  4  14  24   NaN  42.0
2  5  15  25   NaN  43.0

In [19]:
# 합집합 출력 옵션
pd.concat([df1, df2], join = 'outer')

   A   B   C     D     E
0  1  11  21  31.0   NaN
1  2  12  22  32.0   NaN
2  3  13  23  33.0   NaN
0  3  13  23   NaN  41.0
1  4  14  24   NaN  42.0
2  5  15  25   NaN  43.0

In [20]:
# 교집합 출력 옵션
pd.concat([df1, df2], join = 'inner')

   A   B   C
0  1  11  21
1  2  12  22
2  3  13  23
0  3  13  23
1  4  14  24
2  5  15  25