**타입 변환**

- 데이터 생성

In [ ]:
import pandas as pd

df = pd.DataFrame({'판매일': ['5/11/21','5/12/21', '5/13/21','5/14/21', '5/15/21'],
                   '판매량': ['10','15','20','25','30'], '방문자수':['10','-','17','23','25'], 
                   '기온': ['24.1','24.3','24.8','25','25.4']})

In [ ]:
df

       판매일 판매량 방문자수    기온
0  5/11/21  10   10  24.1
1  5/12/21  15    -  24.3
2  5/13/21  20   17  24.8
3  5/14/21  25   23    25
4  5/15/21  30   25  25.4

- 타입 확인

In [ ]:
df.dtypes

판매일     object
판매량     object
방문자수    object
기온      object
dtype: object

In [ ]:
# 판매량이 object여서 숫자로 변환해야됨
df['판매량 보정'] = df['판매량']+1

TypeError: ignored

문제: 판매량을 정수 형태로 변환 하시오.

In [ ]:
# 타입을 바꾸어라 
df.astype({'판매량':'int'})

       판매일  판매량 방문자수    기온
0  5/11/21   10   10  24.1
1  5/12/21   15    -  24.3
2  5/13/21   20   17  24.8
3  5/14/21   25   23    25
4  5/15/21   30   25  25.4

In [ ]:
# 변수명을 따로 지정해줘야 바뀜
df.dtypes

판매일     object
판매량     object
방문자수    object
기온      object
dtype: object

In [ ]:
df = df.astype({'판매량':'int'})

In [ ]:
df.dtypes

판매일     object
판매량      int64
방문자수    object
기온      object
dtype: object

In [ ]:
df['판매량 보정'] = df['판매량']+1

In [ ]:
df

       판매일  판매량 방문자수    기온  판매량 보정
0  5/11/21   10   10  24.1      11
1  5/12/21   15    -  24.3      16
2  5/13/21   20   17  24.8      21
3  5/14/21   25   23    25      26
4  5/15/21   30   25  25.4      31

- 문제: 방문자수를 숫자 타입으로 변형 하시오.

In [ ]:
# '-'가 있어서 int로 변환 불가
df.astype({'방문자수':'int'})

ValueError: ignored

In [ ]:
#
pd.to_numeric(df['방문자수'])

ValueError: ignored

In [ ]:
# 옵션을 사용하여, 에러가 발생하면 nan값으로 대체해라
pd.to_numeric(df['방문자수'], errors = 'coerce')

0    10.0
1     NaN
2    17.0
3    23.0
4    25.0
Name: 방문자수, dtype: float64

In [ ]:
# df 방문자수 재정의 해줘야함
df.dtypes

판매일       object
판매량        int64
방문자수      object
기온        object
판매량 보정     int64
dtype: object

In [ ]:
df['방문자수'] = pd.to_numeric(df['방문자수'], errors = 'coerce')

In [ ]:
df.dtypes

판매일        object
판매량         int64
방문자수      float64
기온         object
판매량 보정      int64
dtype: object

In [ ]:
df

       판매일  판매량  방문자수    기온  판매량 보정
0  5/11/21   10  10.0  24.1      11
1  5/12/21   15   NaN  24.3      16
2  5/13/21   20  17.0  24.8      21
3  5/14/21   25  23.0    25      26
4  5/15/21   30  25.0  25.4      31

In [ ]:
# NaN값 때문에 int 변환 에러 발생
df = df.astype({'방문자수':'int'})

In [ ]:
df.fillna(0, inplace = True)

In [ ]:
df.astype({'방문자수':'int'})

       판매일  판매량  방문자수    기온  판매량 보정
0  5/11/21   10    10  24.1      11
1  5/12/21   15     0  24.3      16
2  5/13/21   20    17  24.8      21
3  5/14/21   25    23    25      26
4  5/15/21   30    25  25.4      31

In [ ]:
df

       판매일  판매량  방문자수    기온  판매량 보정
0  5/11/21   10    10  24.1      11
1  5/12/21   15     0  24.3      16
2  5/13/21   20    17  24.8      21
3  5/14/21   25    23    25      26
4  5/15/21   30    25  25.4      31

In [ ]:
# 방문자수 정수형태 변환 확인
df.dtypes

판매일       object
판매량        int64
방문자수       int64
기온        object
판매량 보정     int64
dtype: object

In [ ]:
df

       판매일  판매량  방문자수    기온  판매량 보정
0  5/11/21   10    10  24.1      11
1  5/12/21   15     0  24.3      16
2  5/13/21   20    17  24.8      21
3  5/14/21   25    23    25      26
4  5/15/21   30    25  25.4      31

- 문제: 판매일을 datetime의 형태로 바꾸시오.

In [ ]:
# pd.to_datetime 변환함수 
df['판매일'] = pd.to_datetime(df['판매일'], format ='%m/%d/%y')

In [ ]:
df

         판매일  판매량  방문자수    기온  판매량 보정
0 2021-05-11   10    10  24.1      11
1 2021-05-12   15     0  24.3      16
2 2021-05-13   20    17  24.8      21
3 2021-05-14   25    23    25      26
4 2021-05-15   30    25  25.4      31

In [ ]:
df.dtypes

판매일       datetime64[ns]
판매량                int64
방문자수               int64
기온                object
판매량 보정             int64
dtype: object