# -파일 호출/저장

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
import pandas as pd

- 파일 호출

In [8]:
# pd.read_csv --> csv파일이 데이터프레임 형식으로 저장되게 됨
df = pd.read_csv('/content/drive/MyDrive/[강의자료] 한 번에 끝내는 머신러닝과 데이터분석 A-Z (수정, 배포금지)/Part2. 파이썬 프로그래밍 기초와 데이터분석/1. 강의자료 및 실습코드/Ch 03. 데이터 전처리/과일가게.csv')

In [10]:
type(df)

pandas.core.frame.DataFrame

-head(): 처음부터 5행까지 출력

In [11]:
df.head()

   Unnamed: 0   품목 크기    금액    수수료
0           0  바나나  중  2000  200.0
1           1  바나나  대  3000  300.0
2           2  바나나  중  2000  200.0
3           3  토마토  대  1500  150.0
4           4  토마토  소   500   50.0

-tail: 뒤에서 5행까지 출력

In [12]:
df.tail()

    Unnamed: 0   품목 크기    금액    수수료
95          95  토마토  소   500   50.0
96          96  토마토  중  1000  100.0
97          97  토마토  대  1500  150.0
98          98  바나나  중  2000  200.0
99          99  바나나  소  1000  100.0

- 첫번째 열을 인덱스열로 삼고 싶을 경우

In [14]:
# 인덱스가 몇번째 컬럼인지 
df = pd.read_csv('/content/drive/MyDrive/[강의자료] 한 번에 끝내는 머신러닝과 데이터분석 A-Z (수정, 배포금지)/Part2. 파이썬 프로그래밍 기초와 데이터분석/1. 강의자료 및 실습코드/Ch 03. 데이터 전처리/과일가게.csv', index_col=0)

In [15]:
df.head()

    품목 크기    금액    수수료
0  바나나  중  2000  200.0
1  바나나  대  3000  300.0
2  바나나  중  2000  200.0
3  토마토  대  1500  150.0
4  토마토  소   500   50.0

- 구분자가 ,가 아닌 다른 기호인 경우

In [17]:
df = pd.read_csv('/content/drive/MyDrive/[강의자료] 한 번에 끝내는 머신러닝과 데이터분석 A-Z (수정, 배포금지)/Part2. 파이썬 프로그래밍 기초와 데이터분석/1. 강의자료 및 실습코드/Ch 03. 데이터 전처리/read_sep.txt', index_col=0, sep ='|')

In [18]:
df

       A   B   C
index
0      1  11  21
1      2  12  22
2      3  13  23

In [19]:
# header = 1 2번째가지는 헤더고 나머지는 진짜 데이터
# 첫번째 열은 삭제됨
df = pd.read_csv('/content/drive/MyDrive/[강의자료] 한 번에 끝내는 머신러닝과 데이터분석 A-Z (수정, 배포금지)/Part2. 파이썬 프로그래밍 기초와 데이터분석/1. 강의자료 및 실습코드/Ch 03. 데이터 전처리/read_multi_header.csv', header = 1)

In [20]:
df

   a   b   c
0  1  11  21
1  2  12  22
2  3  13  23
3  4  14  24

In [22]:
df.columns

Index(['a', ' b', ' c'], dtype='object')

- 데이터를 읽으면서 칼럼명을 추가하고 싶을 때

In [24]:
# index_col = 0 -->첫번째열은 인덱스로 지정
df = pd.read_csv('/content/drive/MyDrive/[강의자료] 한 번에 끝내는 머신러닝과 데이터분석 A-Z (수정, 배포금지)/Part2. 파이썬 프로그래밍 기초와 데이터분석/1. 강의자료 및 실습코드/Ch 03. 데이터 전처리/make_column_name.csv',
         index_col = 0, names = ['품목', '크기', '금액', '수수료'])

In [25]:
df.head()

    품목 크기    금액    수수료
0  바나나  중  2000  200.0
1  바나나  대  3000  300.0
2  바나나  중  2000  200.0
3  토마토  대  1500  150.0
4  토마토  소   500   50.0

- 원하는 칼럼만 쓰고 싶을 때

In [26]:
# usecols = ['','']--> 어떤 항목을 쓰겠다
df = pd.read_csv('/content/drive/MyDrive/[강의자료] 한 번에 끝내는 머신러닝과 데이터분석 A-Z (수정, 배포금지)/Part2. 파이썬 프로그래밍 기초와 데이터분석/1. 강의자료 및 실습코드/Ch 03. 데이터 전처리/과일가게.csv', usecols = ['품목','크기'])

In [27]:
df.head()

    품목 크기
0  바나나  중
1  바나나  대
2  바나나  중
3  토마토  대
4  토마토  소

- 파일 저장

In [28]:
df.head()

    품목 크기
0  바나나  중
1  바나나  대
2  바나나  중
3  토마토  대
4  토마토  소

In [29]:
# 데이터프레임을 csv파일 생성하여 저장하기
df.to_csv('/content/drive/MyDrive/[강의자료] 한 번에 끝내는 머신러닝과 데이터분석 A-Z (수정, 배포금지)/Part2. 파이썬 프로그래밍 기초와 데이터분석/1. 강의자료 및 실습코드/Ch 03. 데이터 전처리/make_csv.csv')